.whoami-wrapper {

    width: 100vw;
    min-height: 90vh;
    background-color: var(--main-color);
    padding:4rem;
}

.whoami-wrapper .whoami-heading {
    font-family: var(--main-text-font);
    color:black;
    font-size: 4rem;
}

.whoami-wrapper .whoami-content {
    white-space: pre-line;
    color:var(--bg-color);
    font-family: var(--main-text-font);
    width:30%;
    line-break: auto;
    font-size: 2.5rem;
}